# Project place file
/Untitled-Pirate-Game.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Ignore build file
/build.rbxl
/build.rbxlx

# Wally package folder and lock
/Packages
/wally.lock